:root{
    --primary: #03506f;
}

.btn-ac{
    padding: 8px 20px;
    border-radius: 4px;
    width: 250px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #03506f;
}

.btn-ac:hover{
    padding: 16px 18px;
    transition: all 0.3s ease-out;
    background-color: #03506f;
    color: #fff;
    border-radius: 4px;
    border:  none;
}